.order{
    font-weight: 500;
}
h3{
    color: crimson;
    font-weight: 700;
}
.td{
    padding-left: 100px;
    padding-right: 20px;
}
table{
    text-align: left;
    margin-left: 10px;
   
    border-bottom: 1px solid gray;
    font-size: 14px;
}